* {
    margin: 0;
    box-sizing: border-box;
}

body {}

a {
    text-decoration: none;
    color: rgb(5, 5, 132);
}

/* Class and Ids */
.lang {
    text-align: center;
}

/* .chapters {
    
    & ol{
        
        > li{
            margin: 20px 0;
            .chapterName{
            }
            
            & ul{
                
                > li{
                    
                    .topic{
                        margin: 15px 0;
                        
                        & h4{
                            font-size: 18px;
                        }
                        
                        .subtopic{

                        }
                    }
                }
            }
        }
    }
} */



/* common style */
.bold {
    font-weight: 600;
}